.cicle--write {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: white;
    z-index: 101;
}
@keyframes tapWrite {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(7000%);
    }
}