$blue: #0D47A1;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
}
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: $blue;
    .coverlogo {
        width: 100px;
        cursor: pointer;
        .coverlogo--curva, .coverlogo--line{
            fill:none;
            stroke:#fff;
            stroke-width:10px;
            stroke-linecap:round;
        }  
    }
    .covertitle {
        margin-top: 10px;
        font-size: 3rem;
        font-weight: 800;
        color: white;
        cursor: pointer;
    }
    .coverp {
        width: 70%;
        font-size: 1.5rem;
        font-weight: 300;
        color: white;
        cursor: pointer;
    }
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

}
.categories {
    width: 80%;
    .categories__h2 {
        margin-top: 30px;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: black
    }
    .categies__button--chooseAgain {
        width: 150px;
        height: 30px;
        padding: 3px;
        margin-top: 20px;
        margin-left: calc(50% - 75px);
        font-weight: 500;
        color: white;
        border: none;
        border-radius: 7px;
        background: $blue;
        cursor: pointer;
    }
    .categories__form {
        margin-top: 20px;
        .categories__form__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: auto;
            .button {
                margin-right: 5px;
                padding: 3px;
                border:1px solid grey;
                border-radius: 5px;
                background: white;
                cursor: pointer;
            }
        }
        .categories__button--submit {
            width: 150px;
            height: 30px;
            padding: 3px;
            margin-top: 20px;
            margin-left: calc(50% - 75px);
            font-weight: 500;
            color: white;
            border: none;
            border-radius: 7px;
            background: $blue;
            cursor: pointer;
        }
        .messageError {
            margin-top: 5px;
            font-weight: 400;;
            text-align: center;
            color: $blue;
        }
    }
}
.carousel {
    width: 80%;
    margin-top: 10px;
    .carousel__category {
        h2 {
            margin-top: 10px;
            font-size: 1.8rem;
            font-weight: 600;
            color: black
        }
    }
    .carousel__book__container {
        display: flex;
        margin-top: 15px;
        width: 100%;
        min-height: 200px;
        height: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
        .carousel__book{
            position: relative;
            margin-right: 10px;
            padding: 15px;
            text-align: center;
            border-radius: 10px;
            &:hover{
                transform: scale(110%);
            }
            .carousel__book--img {
                width: 100px;
                box-shadow: -4px -2px 2px -1px grey;
                cursor: pointer;
            }
            .carousel__book--name {
                font-size: 1.5rem;
                font-weight: 600;
            }
            .carousel__book--autor {
                font-size: 1.2rem;
            }
            .carousel__book--description {
                display: none;
            }
        }
    }
}
.infoBook {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    z-index: 10;
    .infoBook__container {
        position: relative;
        width: 90%;
        max-width: 450px;
        height: auto;
        padding: 10px;
        margin: auto;
        border: 5px solid grey;
        border-radius: 20px;
        background-color: white;
        .infoBook__container__content {
            .content--title {
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
            }
            .content--author {
                margin-bottom: 4px;
                font-size: 1.3rem;
                text-align: center;
            }
            .content--description {
                margin: 5px 0;
                font-size: 1.6rem;
                font-weight: 600;
            }
            .content--p {
                font-size: 1.3rem;
            }
            .content--button {
                width: 150px;
                height: 30px;
                padding: 3px;
                margin-top: 5px;
                margin-left: calc(50% - 75px);
                font-weight: 500;
                color: white;
                border: none;
                border-radius: 7px;
                background: $blue;
                cursor: pointer;
            }
        }
    }
}